<h1 style="text-align: center;">Alegeţi Produsele Dorite</h1>

<mat-grid-list cols="3" rowHeight="30vw">
  <mat-grid-tile *ngFor="let item of produse.slice((paginaCurenta - 1) * numarDeElementePePagina, paginaCurenta * numarDeElementePePagina)">
    <button mat-button (click)="vizitaProdus(item)">
      <figure>
        <img appImagePreloader="{{item.imagineProdus}}" height="250vw" style="display: block;">
        <figcaption>
          <p style="font-size: 1.5vw;">{{item.produs}}</p>
          <h5 style="font-size: 0.9vw;">{{item.pretProdus}} lei</h5>
        </figcaption>
      </figure>
    </button>
  </mat-grid-tile>
</mat-grid-list>

<mat-paginator [length]="produse.length" [pageSize]="numarDeElementePePagina" (page)="schimbaPagina($event)">
</mat-paginator>
